@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@layer base {
  * {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
  }
  html {
    @apply scroll-smooth;
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: "MyFirstFont";
    src: url("/fonts/MyFirstFont.ttf") format("truetype");
  }

  @font-face {
    font-family: "MySecondFont";
    src: url("/fonts/MySecondFont.ttf") format("truetype");
  }
}

@layer components {
  .hero-text-animate {
    transition: translate 1s ease-in-out;
    -webkit-transition: -webkit-transform ease-in-out 1s;
  }
  .developing .passion {
    -webkit-backdrop-filter: blur(10px);
    -webkit-backdrop: blur(10px);
  }

  .info span {
    font-size: medium;
    font-weight: 500;
    opacity: 0;
    animation: showtxt 0.5s 1s linear forwards;
  }
  @keyframes showtxt1 {
    100% {
      opacity: 1;
    }
  }
  .smooth-scroll {
    scroll-behavior: smooth;
    transition: transform 0.2s ease-out;
  }
  .progress-line {
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
      1px 1px rgba(79, 171, 199, 0.9);
    position: relative;
    height: 10px;
    width: 100%;
    transform: scaleX(0);
    background-color: #f0f0f0;
    animation: progressAnimate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    border-radius: 1px;
    transform-origin: left;
  }
  @keyframes progressAnimate {
    100% {
      transform: scaleX(1);
    }
  }
  .progress-line span {
    border-radius: 1px;
    height: 100%;
    background-color: rgb(38, 119, 143);
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    animation: progressAnimate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }

  .progress-line span::before {
    content: "";
    position: absolute;
    color: #fff;
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #d93752;
    border-right-width: 0px;
    border-bottom-width: 0px;
    opacity: 0;
    animation: showtxt 0.5s 1s linear forwards;
  }
  .progress-line span::after {
    position: absolute;
    color: #fff;
    top: -33px;
    right: 0;
    border: 5px soild transparent;
    background-color: rgb(217, 55, 82);
    padding: 1px 8px;
    border-radius: 3px;
    height: 25px;
    font-size: small;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    animation: showtxt 0.5s 1s linear forwards;
  }

  @keyframes showtxt {
    100% {
      opacity: 1;
    }
  }
  .bg-with-bg-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/hero-bg.jpg");
    background-size: cover;
    background-position: center;
  }

  .progress-line-animation {
    animation: progressAnimate 1s cubic-bezier(1, 0, 0, 0.5, 1);
  }

  .animate-slide-in-1 {
    animation: slideE 1s forwards 0.3s;
  }
  .animate-slide-in-2 {
    animation: slideIn 0.2s forwards 0.2s;
  }

  .animate-slide-in-3 {
    animation: slideIn 0.2s forwards 0.4s;
  }

  .animate-slide-in-4 {
    animation: slideIn 0.2s forwards 0.6s;
  }

  .animate-slide-in-5 {
    animation: slideIn 0.2s forwards 0.8s;
  }

  @keyframes slideE {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    50% {
      opacity: 0.5;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    50% {
      opacity: 0.5;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-loaded .hero-inner {
    transform: scale(1.2);
  }

  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/hero-bg.jpg");
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

  .hero-loaded .hero-background {
    opacity: 1;
  }

  /* for skills */

  .parallax-container {
    position: relative;
    overflow: hidden;
  }

  .parallax-image {
    position: absolute;
    top: -50rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/baloons.jpg");
    background-size: cover;
    background-position: center;
    transform: translateZ(0%);
  }
  .flip-card {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -moz-perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden; /* add this line */
    backface-visibility: hidden;
  }

  .flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }

  .flip-card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }

  .flip-card-back .btn-wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Disable hover effects on mobile */
  @media (max-width: 767px) {
    .flip-card:hover .flip-card-inner {
      -webkit-transform: none;
      transform: none;
      -moz-transform: none;
    }
  }
}

:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1);
}
* {
  box-sizing: border-box;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective: 2500px;
  justify-content: center;
  transition: all 0.5s;
}
.title {
  width: 100%;
  height: 70%;
  transition: transform 0.5s;
  display: flex;
  min-width: 400px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

.card:hover .wrapper {
  transform: perspective(1000px) translateY(-5%) rotateX(50deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.card:hover {
  transform: translateY(20%);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 30%;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.3) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  display: flex;
  width: 100%;
  height: 125%;
  opacity: 0;
  background-color: rgb(0, 0, 0, 0.5);
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
.imgGradient {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@media screen and (max-width: 768px) {
  .character {
    opacity: 1;
    top: 90%;
    display: hidden;
  }
  .wrapper {
    z-index: 50;
  }
  .wrapper {
    transform: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .card:hover .wrapper,
  .card:hover,
  .card:hover .wrapper::before,
  .card:hover .wrapper::after,
  .card:hover .title,
  .card:hover .character {
    /* Reset the styles to their non-hover state */
    transform: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    opacity: 1;
  }

  .wrapper::before,
  .wrapper::after {
    content: none;
  }
}

.cursor-follower-wrapper {
  position: relative; /* Important for absolute positioning of pseudo-elements */
  animation: rotateMain 4s linear infinite;
  box-shadow: 0px -2px 1px 1px white;
}

.cursor-follower-wrapper::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  background-color: transparent;
  width: 130%;
  height: 130%;
  animation: rotateBefore 6s linear infinite;
  box-shadow: 0px -2px 1px 1px #d93752;
}

.cursor-follower-wrapper::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  background-color: transparent;
  width: 160%;
  height: 160%;
  animation: rotateAfter 8s linear infinite;
  box-shadow: 0px -2px 1px 1px #d2de32;
}

@keyframes rotateMain {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg); /* Rotates counter-clockwise */
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateBefore {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(-360deg) rotateX(360deg); /* Rotates counter-clockwise on Y and clockwise on X */
  }
}

@keyframes rotateAfter {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(-360deg); /* Rotates clockwise on Y and counter-clockwise on X */
  }
}

.experience-title {
  position: absolute;
  width: 10%;
  height: 100%;
  right: 0%;

  background-color: #333;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.experience-title2 {
  position: absolute;
  width: 10%;
  height: 100%;
  left: 0%;
  background-color: hsl(350, 68%, 53%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.class-for-item1 {
  animation: slideInLeft 1s forwards;
}
.class-for-item2 {
  animation: slideInRight 1s forwards;
}
.class-for-item3 {
  left: 10vw;
  animation: fadeInTitle 4s forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-900%);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(900%); /* Adjust as needed */
  }
}

@keyframes fadeInTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 4s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button-drawer {
  position: relative !important;
  clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 99%, 0% 100%);
}

#experience {
  overflow-x: hidden;
}
.animate-entry {
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.imgGradientExp {
  background-color: #333; /* Fallback color */
  background-image: linear-gradient(to bottom, #333, #d93752);
}

.clippyStyle {
  clip-path: polygon(0% -1%, 100% 0%, 100% 100%, 50% 95%, 0 100%);
  background-color: #d93752 !important;
}
.indent-text {
  text-indent: -20px; /* Pulls the first line to the left */
  padding-left: 20px; /* Indents the whole block, effectively pushing lines (except the first) to the right */
}

.clippyStyle:before {
  content: "";
  position: absolute;
  width: 110%;
  height: 15%;
  bottom: 0%;
  background-color: #333;
  box-shadow: 0px 0px 1px 10px white;
  z-index: -1;
}

/* .triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid black;
} */
@keyframes spin {
  0%,
  100% {
    transform: rotate(0deg) scale(0.5);
  }
  50% {
    transform: rotate(360deg) scale(1);
  }
}
