@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'MyFirstFont';
  src: url('/fonts/MyFirstFont.ttf') format('truetype');
}

@font-face {
  font-family: 'MySecondFont';
  src: url('/fonts/MySecondFont.ttf') format('truetype');
}

.hero-text-animate {
  transition: transform 1s ease-in-out;
  -webkit-transition: -webkit-transform ease-in-out 1s;
}

.info span {
  font-size: medium;
  font-weight: 500;
  opacity: 0;
  animation: showtxt 0.5s 1s linear forwards;
}

@keyframes showtxt {
  100% {
    opacity: 1;
  }
}

.smooth-scroll {
  scroll-behavior: smooth;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.progress-line {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
    1px 1px rgba(79, 171, 199, 0.9);
  position: relative;
  height: 10px;
  width: 100%;
  transform: scaleX(0);
  background-color: #f0f0f0;
  animation: progressAnimate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  border-radius: 1px;
  transform-origin: left;
}

@keyframes progressAnimate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line span {
  border-radius: 1px;
  height: 100%;
  background-color: rgb(38, 119, 143);
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  animation: progressAnimate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-line span::before {
  content: '';
  position: absolute;
  color: #fff;
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #d93752;
  border-right-width: 0px;
  border-bottom-width: 0px;
  opacity: 0;
  animation: showtxt 0.5s 1s linear forwards;
}

.progress-line span::after {
  position: absolute;
  color: #fff;
  top: -33px;
  right: 0;
  border: 5px soild transparent;
  background-color: rgb(217, 55, 82);
  padding: 1px 8px;
  border-radius: 3px;
  height: 25px;
  font-size: small;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  animation: showtxt 0.5s 1s linear forwards;
}

@keyframes showtxt {
  100% {
    opacity: 1;
  }
}
.bg-with-bg-image::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/hero-bg.jpg');
  background-size: cover;
  background-position: center;
}

.progress-line-animation {
  animation: progressAnimate 1s cubic-bezier(1, 0, 0, 0.5, 1);
}

.animate-slide-in-1 {
  animation: slideE 1s forwards 0.3s;
}
.animate-slide-in-2 {
  animation: slideIn 0.2s forwards 0.2s;
}

.animate-slide-in-3 {
  animation: slideIn 0.2s forwards 0.4s;
}

.animate-slide-in-4 {
  animation: slideIn 0.2s forwards 0.6s;
}

.animate-slide-in-5 {
  animation: slideIn 0.2s forwards 0.8s;
}

@keyframes slideE {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-loaded .hero-inner {
  transform: scale(1.2);
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/hero-bg.jpg');
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.hero-loaded .hero-background {
  opacity: 1;
}

/* for skills */

.parallax-container {
  position: relative;
  overflow: hidden;
}

.parallax-image {
  position: absolute;
  top: -50rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/baloons.jpg');
  background-size: cover;
  background-position: center;
  transform: translateZ(50%);
}
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
